body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body-layout {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh;
}
/* Add or modify this rule in global.css */
footer {
  background-color: #f8f9fa;
  padding: 10px 0
}