html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
h1{
    margin-top: 20px;
    margin-bottom: 100px;
}
.container h1{
    padding-bottom: 10px;
}
.body-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the layout spans the full viewport height */
}

.content {
    flex: 1; /* This makes the content area grow and push the footer to the bottom */
}

.footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
