html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
}

.body-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    position: relative;
}



